<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.danny.jer.man818.mapper.UserMapper">  
   
  <select id="findUserInfo" resultType="com.cxd.cool.domain.UserInfo">  
    SELECT id ,username ,passwd ,address FROM  username WHERE id=#{id};  
  </select> 
  
</mapper>  